body {
  font-family: 'Segoe UI semibold';
  margin: 0;
}

.row {
  height: 93vh;
}

/* .main-form {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
} */

.navbar img {
  width: 40px;
  height: 40px;
  /* background-color: wheat;
  padding: 4px; */
}

.navbar-brand {
  letter-spacing: .5px;
  transition: .2s;
}

.navbar-brand:hover {
  letter-spacing: 1px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}