body {
    font-family: 'Segoe UI semibold';
    margin: 0;
}

.navbar-brand:hover {
    transition: .8s;
    border-color: #ffffff !important;
}

.card {
    height: 100%;
}

.footer {
    height: 60px;
    width: 100%;
    margin: 0;
}
  
.footer-container {
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.btn-fb, .btn-twitter, .btn-instagram, .btn-youtube, .btn-github {
    height: 40px;
    width: 45px;
}

.btn-fb {
    border: 1px solid #3b579d;
     color: #3b579d;
}

.btn-fb:hover {
    background: #3b579d;
    color: #ffffff;
}

.btn-twitter {
    border: 1px solid #2caae1;
    color: #2caae1;
}

.btn-twitter:hover {
    background: #2caae1;
     color: #ffffff;
}

.btn-instagram {
    border: 1px solid #2d9ca0;
     color: #2d9ca0;
}

.btn-instagram:hover {
    background: #2d9ca0;
     color: #ffffff;
}

.btn-youtube {
    border: 1px solid #e52d27;
    color: #e52d27;
}

.btn-youtube:hover {
    background: #e52d27;
    color: #ffffff;
}

.btn-github {
    border: 1px solid #ea4c89;
    color: #ea4c89;
}

.btn-github:hover {
    background: #ea4c89;
     color: #ffffff;
}

#form-message {
      height: 503px;
      align-items: center;
}

#form-message h3 {
    color: rebeccapurple;
    text-transform: capitalize;
    font-weight: 100px;
    font-style: italic;
    transition: .6s;
}

#form-message h3:hover {
    letter-spacing: 1px;
}

  /* width */
::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}